{% extends "articleLayout.html" %}

{% block content %}
    <div id="main">
        <div id="board">
            <div id="title" class="article">
                <h1>
                    <a href="/free">자유게시판</a> 
                </h1>
            </div>
            <div id="writeArticle">
                <form class="write" method="post">
                    <p> 
                        <input name="title" class="title" value="{{ row.f_title }}" required>
                    </p>
                    <p> 
                        <textarea name="text" class="smallplaceholder large" placeholder="글 내용" required>{{ row.f_txt }}</textarea>
                    </p>
                    <input type="submit" class="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %} 