<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    </head>
    <body>
        <div id="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <script>
                            alert('{{ message }}');
                        </script>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="logo">
                <a href="{{ url_for('main.index') }}">
                    <img id="img" src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
                <h3>지금 에브리타임을 시작하세요</h3>
            </div>
            <form action="{{ url_for('auth.login') }}" method="post">
                <p class="input">
                    <input type="text" name="userid" placeholder="아이디" class="text" required>
                </p>
                <p class="input">
                    <input type="password" name="password" placeholder="비밀번호" class="text" required>
                </p>
                <p class="submit">
                    <input type="submit" value="로그인" class="text">
                </p>
            </form>
            <p class="register">
                <a href="{{ url_for('auth.register') }}" class="button red">회원가입</a>
            </p>
            <p class="find">
                <a href="{{ url_for('main.index') }}" class="button red">아이디/비밀번호 찾기</a>
            </p>
        </div>
    </body>
</html> 