{% extends "articleLayout.html" %}

{% block content %}
    <div id="main">
        <div id="board">
            <div id="title" class="article">
                <h1>
                    <a href="/board/{{ board.url }}">{{ board.name }}</a>
                </h1>
            </div>
            <div id="text" class="article">
                <img class="profileimg" src="{{ url_for('static', filename='images/0.png') }}">
                <div class="profile">
                    <h3 class="large">{{ post.id }}</h3>
                    <time class="large">비공개</time>
                    {% if current_user.is_authenticated and current_user.id == post.user_id %}
                        <a href="/board/{{ board.url }}/delete/{{ post.id }}">
                            <p class="delete">삭제</p>
                        </a>
                        <a href="/board/{{ board.url }}/edit/{{ post.id }}">
                            <p class="edit">수정</p>
                        </a>
                    {% endif %}
                    <h2 class="large">{{ post.title }}</h2>
                    <p id="post-text" class="large"></p>
                </div>
            </div>
            <div id="comment" data-post-id="{{ post.id }}">
                <form id="replyForm" action="/board/{{ board.url }}/{{ post.id }}/comment" method="post" class="writecomment">
                    <input type="text" id="commentInput" name="text" placeholder="댓글을 입력하세요" class="commentblank">
                    <input type="hidden" name="parent_id" value="{{ parent_comment.id if parent_comment else '' }}">
                    <input type="submit" id="submit-btn" class="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"></script>
<script type='text/javascript'>
    const textContent = "{{ post.text | safe }}";
    document.getElementById("post-text").innerHTML = DOMPurify.sanitize(textContent);
</script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}