{% extends "articleLayout.html" %}

{% block content %}
    <div id="main">
        <div id="board">
            <div id="title" class="article">
                <h1>
                    <a href="/secret">비밀게시판</a> 
                </h1>
            </div>
            <div id="text" class="article">
                <img class="profileimg" src="{{ url_for('static', filename='images/0.png') }}">
                <div class="profile">
                    <h3 class="large">{{ row.id }}</h3>
                    <time class="large">비공개</time>
                    {% if current_user.is_authenticated and current_user.id == row.id %}
                        <a href="/secret/{{ row.s_num }}/delete/{{ row.s_num }}">
                            <p class="delete">삭제</p>
                        </a>
                        <a href="/secret/{{ row.s_num }}/edit/{{ row.s_num }}">
                            <p class="edit">수정</p>
                        </a>
                    {% endif %}
                    <h2 class="large">{{ row.s_title }}</h2>
                    <p class="large">{{ row.s_txt }}</p>
                </div>
            </div>
            <div id="comment">
                <div class="parent">
                    <img class="commentpro" src="{{ url_for('static', filename='images/0.png') }}">
                    <h3 class="medium">익명</h3>
                    <p class="large">아기고양이가 어디있다는 거에요? 아기고양이가?3</p>
                </div>
                <form action="{{ url_for("auth.login") }}" method="post" class="writecomment">
                    <input type="text" name="text" placeholder="댓글을 입력하세요" class="commentblank">
                    <input type="submit" class="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %} 